[Unit]
Description=AmneziaGeo Server
Documentation=https://github.com/bor-project/amneziageo_server
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/opt/amneziageo-server/current
ExecStart=/opt/amneziageo-server/current/AmneziaGeo.Server.Api
UMask=0002
Environment=DOTNET_NOLOGO=1
Environment=ASPNETCORE_WEBROOT=/opt/amneziageo-server/wwwroot
Environment=Web__Listen__0=127.0.0.1:8443
Environment=Endpoints__Directory=/etc/amnezia/amneziawg
Environment=Geo__Path=/var/lib/amneziageo-server/geo
EnvironmentFile=-/etc/amneziageo-server/server.env
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
