[Unit]
Description=AmneziaGeo websocket front %i
Documentation=https://github.com/bor-project/amneziageo_server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/amneziageo-server/proxy-%i.env
ExecStart=/usr/local/bin/wstunnel server $PROXY_ARGS
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
